/* Left side */
.left_side {
    margin-right: 40px;
    flex: 1;
}

.left_side h1 {
    margin: 0;
    font-size: 40px;
    color: #3a4b5c;
}

.left_side p {
    font-size: 16px;
    margin-bottom: 40px;
    color: #6A7D8B;
}

.left_side input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgba(150, 163, 171, .5);
    padding: 10px 2px;
    margin-bottom: 20px;
    font-size: 14px;
    outline:0;
}

.left_side input:disabled {
    opacity: .5;
}

.left_side button {
    background-color: #227C9D;
    color: #fff;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    padding: 15px 0;
    width: 100%;
    cursor: pointer;
    margin-top: 40px;
    transition: all ease .3s;
}

.left_side button:hover {
    opacity: .8;
}

.left_side button:disabled {
    opacity: .5;
}

/* Right Side */

.right_side {
    margin-left: 40px;
    flex: 1;
    display: flex;
}
    
.right_side .grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* Big Item Grid */
.rightBig {
    flex: 1;
    display: flex;   
    
}

.rightArrow {
    position: absolute;
    background-color: #227c9d;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: -35px;
    margin-top: 145px;
    transition: all ease .3s;
}

.rightArrow:hover {
    opacity: .9;
}